#container{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	margin: 0;
}
body{
	margin: 0;
}
/* main settings for header */
header{
	display: grid;
	grid-column: 11/1;
	position: relative;
	grid-template-columns: subgrid;
	grid-template-columns: repeat(10, 1fr);
	background-color: #00657C;
}

/* logo settings */
.titlelocation{
	grid-column: 1/3;
	display: flex;
	align-items: center;
}
.titlelocation img{
	width: 100px;
	height: auto;
}

/* nav settings */
header > ul{
	grid-column: 7/10;
	display: flex;
	align-items: center;
	list-style-type: none;
	justify-content: space-evenly;
}

/* body settings */
.contentlocation{
	display: flex;
	grid-column: 1/11;
	background-image: url(/Users/dtg/Desktop/PROJECT/Image/background.png);
	background-size: cover;
	height: 750px;
	justify-content: center;
}

/* content settings */
.content{
	position: relative;
	top: 50px;
	width: 750px;
	height: 650px;
	color: #95261F;
	background-color: #BAD3EE;
	box-shadow: 1px 1px 1px 1px #5f5f5f;    
}

/* content setting: display in columns */
.contenttogether{
	column-count:2;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-gap: 50px;
}

/* content settings: left part */
.contentleft{
	margin-top: 50px;
	margin-right: 20px;
}

/* content settings: right part */
.contentright{
	margin-top: 50px;
	/*margin-left: 15px;*/
	margin-right: 15px;
	/*padding-right: 10px;*/
}

/* content word settings */
.content h1{
	font-family: "Caveat";
	src: url(/Users/dtg/Desktop/PROJECT/Font/Caveat-Regular.ttf);
	font-size: 25px;
	text-align:right
}
.content h2{
	font-family: Circular Std;
	font-size: 20px;
	text-align:right
}
.content p{
	font-family: Circular Std;
	font-size: 25px;
	text-align:left;
}

/* icon of body part settings */
.content img{
	width: 100px;
	height: auto;
}
#coffee{
	position: relative;
	bottom: 525px;
	left: 50px;
	transform:rotate(25deg);
}
#merengue{
	position: relative;
	bottom: 10px;
	left: 500px;
	transform:rotate(-25deg)
}

/* main settings for footer */
footer{
	display: grid;
	grid-column: 11/1;
	position: relative;
	grid-template-columns: subgrid;
	grid-template-columns: repeat(10, 1fr);
	background-color: #00657C;
	height: 75px;
}

/* location settings */
.location{
	grid-column: 1/3;
	display: flex;
	align-items: center;
}
.location img{
	width: 50px;
	height: auto;
}
.location p{
	color: #EDE5BB;
	font-size: 15px;
}

/* social media icon settings */
.socialicon{
	grid-column: 8/11;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.socialicon img{
	width: 50px;
	height: auto;
}
