/*styles*/

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
	grid-column: 1/11;
}

body{
    margin: 0;
	padding: 0;
	gap: 20px;
	font-family: Caveat, 'Circular Std-Bold', 'Circular Std Medium', 'Circular Std Book';
	background-color:#EDE5BB;
}

h1{
	font-family: Caveat;
	color: #00657C;
}

p{
	color: #BAD3EE;
}

a{
	font-family: 'Circular Std Medium';
	color: #EDE5BB;
}

ul{
	list-style-type: none; 
	color: white;
}

/* grid */

#mainContainer{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
/* nav */

.bpholder{
    margin-left: 25px;
}


/* Desktop Nav bar */
.navbar {
	grid-column: 1/11;
    height: 81px;
    width: 100%;
    background-color: #00657C;
    display: flex;
    justify-content: space-between;
    gap: 2px;
    /* background-color:#EDE5BB; */
     
}

.Lholder{
    display: flex;
    align-items: center;
    width: auto;
    margin: 0; 
}

.logo{
    width: 142px;
    height: 81px;
}


.nav-desktop{
    display: flex;

    
}

.nav-desktop ul{
    display: flex;
    align-items: center;

}

.nav-desktop li{
    width: 200px;
}

.nav-desktop li a{
    display: block;
    padding:31px;
    color:#EDE5BB;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
   
}

.nav-desktop li:hover{
    background-color: #03A1C5;
}

#hamburger-btn{
    display: none;
}


.nav-mobile{
    display: none;
}

.nav-list-mobile{
    display: none;
    
}

.active{
     background-color: #004959;
}


/*@media screen and (max-width: 900px) {
    
.nav-desktop{
    display: none;
}
#hamburger-btn{
    display: block;
    width: 70px;
    height: 40px;
    align-self: center;
    color: #EDE5BB;
    background-color: #00657C;
    border: 0;
    font-size: 35px;
}

.nav-list-mobile{
    display: block;
}

.nav-mobile{
    width: 55% ;
    position: relative;
    height: 0px;
    justify-content: flex-end;
    float: right;
    flex-shrink: 1;
}

.nav-list-mobile li{
    height: 70px;
    line-height: 70px;
    align-items: center;
    text-align: center;
    background-color: #00657C;
    transition: all .5s;
    /* box-shadow: 0 0 100% 100% black; */
    /* color: #EDE5BB; */
}

/*.nav-list-mobile li a {
    color: #EDE5BB;
    font-size: 31px;
    text-transform: uppercase;
    text-decoration: none;
   
}

.nav-list-mobile li:hover{
    background: #03A1C5;
    transition: 0.5s;
} 

li.active{
    background-color:#004959;
}


}*/

header{
	grid-column: 1/11;
	display: grid;
	background-color:#00657C;
	position: sticky;
	top: 0;
    grid-template-columns: repeat(10, 1fr);
	z-index: 100;
}

header > ul{
    grid-column: 6/10;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding-right: 40px;
}

ul{
	font-family:"CircularStdMedium";
    src: url(fonts/circularstd.TTF);
	font-size:20px;
}

/*hide drop down list*/
.dropdown{
	display: none;
}

/*homepage*/

#backsplash{
		grid-column: 1 / 11;
		display: grid;
		grid-template-columns: repeate(8, 1fr);
		background-image: url("../img/coffee.png");
		background-size: cover;
		height: 1030px;
		width: 100%;
}
	  
.eiffel{
	top: 25%;
	display: flex;	
	flex-direction: column;
	position: relative;
	z-index: 50;
	grid-column: 6/10;
	color: #00657C;
	font-size: 40px;
	height: 330px;
	width: 100%px;
	align-items: center;
	justify-content: center;
	margin: 10px;

}

.eiffelImg{
	width: 10%;
}

.caretDown{
	width: 50px;
	position: relative;
	top: 100%;
}

/*hide scrolling img*/
.scollimg{
	display: none;
}

.welcome{
	margin: 50px;
	grid-column: 1/11;
	display: flex;
	text-align: left;
	font-family:"Caveat";
    src: url(../fonts/caveat.regular.ttf);
}

.bodyText{
	flex: 50%;
	font-size: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-basis: 1000px;
	color: black;
}

.buttons{
	flex: 50%;
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-basis: 700px;
}

/*hide icon_mv on normal page*/
.icon_mv{
	display: none;
}

.buttonImgs{
	width: 200px;
}
	
.coffee{
	display: flex;
	flex-direction: column;
	background-color: #00657C;
	color: #BAD3EE;
	font-size: 30px;
	height: 280px;
	width: 220px;
	align-items: center;
	justify-content: center;
	background-size: cover;
	margin: 10px;
}

.tea{
	display: flex;
	flex-direction: column;
	background-color: #CCC59A;
	color: #00657C;
	font-size: 30px;
	height: 280px;
	width: 220px;
	align-items: center;
	justify-content: center;
	background-size: cover;
	margin: 10px;
}

.croissant{
	display: flex;
	flex-direction: column;
	background-color: #95261F;
	color: #EDE5BB;
	font-size: 30px;
	height: 280px;
	width: 220px;
	align-items: center;
	justify-content: center;
	background-size: cover;
	margin: 10px;
}

.macaron{
	display: flex;
	flex-direction: column;
	background-color: #BAD3EE;
	color: #95261F;
	font-size: 30px;
	height: 280px;
	width: 220px;
	align-items: center;
	justify-content: center;
	background-size: cover;
	margin: 10px;
}

.videoEmbed{
	margin: 50px;
	grid-column: 1/11;
	display: flex;
	background-color: #BAD3EE;
	height: 315px;
}

.videoPlayer{
	flex: 40%;	
}

.videoPlayer iframe{
	width: 560px;
	height: 315px;
}

.videoTxt{
	text-align: left;
	padding: 30px 10px 0px 10px;
	font-family: Caveat;
	font-size: 30px;
	flex: 60%;
	color: #95261F;
}

/*hide text on normal page*/
.videodis_mv {
	font-size: 1px;
	grid-column: 1/9;
}

.videodis_mv p{
color: #EDE5BB;
}

.redTea{
	right: 5%;
	top: 55%;
	height: 120px;
	width: 100px;
	position: relative;
	transform:rotate(-25deg)
	
}

/* footer */
footer{
	background-color:#00657C;
	display: grid;
    grid-column: 1/11;
    grid-template-columns: subgrid;
    grid-template-columns: repeat(10, 1fr);
	left: 0;
	bottom: 0;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #EDE5BB;
	height: 100px;
}

.footerApps{
    grid-column: 6/10;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding-right: 40px;
}

/*mobile version*/
@media screen and (max-width: 576px){
	body{
	  width: auto;
	  height: auto;
	}

	/*hide normal header*/
	.nav-desktop{
	  display: none;
	}

	/*setting drop down button container*/
	.dropdown {
	  grid-column: 6/8;
      position: relative;
      display: flex;
      align-items: center;

	}

	/*setting drop down button style*/
	.dropbtn {
	  background-color: #00657C;
	  color: white;
	  font-size: 25px;
	  border: none;
	  cursor: pointer;
	}

	.dropbtn img{
	  width: 100px;
	  padding-left: 40px;
	  padding-top: 15px;
	  padding-right: 40px;
	}	

	/*drop down content hidden by default*/
	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #00657C;
	  min-width: 100px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  align-items: center;
	  z-index: 1;
	  top: 80px;
	}

	/*drop down list*/
	.dropdown-content a {
	  color: white;
	  padding: 14px;
	  margin: 15px;
	  font-size: 25px;
	  text-decoration: none;
	  display: block;
	}

	/*show drop down list and change button background color when drop down*/
	.dropdown:hover .dropdown-content {
	  display: block;
      background-color: #004959;
	}

	/*change background color when tap drop down list*/
	.dropdown-content a:hover {
	  background-color: #007F9C;
	}

	/*banner setting*/
	#backsplash{
	  grid-column: 1 / 9;
	  display: grid;
	  grid-template-columns: repeate(8, 1fr);
	  background-image: url("../img/coffee_mobile.png");
	  background-size: cover;
	  height: 750px;
	  justify-content: center
	}

	.eiffel{
	  top: 25%;
      display: flex;	
	  flex-direction: column;
	  position: relative;
	  z-index: 50;
	  grid-column: 5/9;
	  color: #00657C;
	  font-size: 15px;
	  height: 330px;
	  width: 100%px;
	  align-items: center;
	  justify-content: center;
	  margin: 10px;
	  left: 30%;
	}

	.eiffelImg{
	  width: 25%;
	}

	.scollimg{
	  display: flex;	
	  flex-direction: column;
	  position: relative;
	  grid-column: 5/9;
	  width: 75px;
	  top: 90%;
	  right: 30%;
	}

	/*welcome setting*/
	.bodyText{
	  font-size: 25px;
	}
	.welcome{
	  flex-wrap: wrap;
	  margin: 5%;
	  grid-column: 1/9;
	  display: flex;
	  text-align: left;
	  font-family:"Caveat";
	  src: url(../fonts/caveat.regular.ttf);
	}

	.bodyText{
	  flex: 50%;
	  font-size: 25px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  flex-wrap: wrap;
	  flex-basis: 1000px;
	  color: black;
	}

	/*four icons part setting on mobile version*/
	.buttons{
	  display: none;
	}
	.icon_mv{
	  display: block;
	  align-items: center;
	  margin: 10%;
	  padding-left: 10%;
	}
	.icon_top{
	  display: inline-block;
	}
	.icon_mv img{
	  width: 100px;
	}

	/*video part setting*/
	.videoEmbed{
	  margin: 1%;
	  background-color: transparent;
	  height: 250px;
	}

	.videoTxt{
	  display: none;
	}
	.videoPlayer iframe{
	  grid-column: 1/9;
	  width: 100%;
	  height: 100%;
	}

	/*video text setting*/
	.videodis_mv{
	  background-color: #A0B9D5;
	  padding: 5%;
	  margin-left: 1%;
	  margin-right: 1%;
	  margin-bottom: 3%;
	  grid-column: 1/9;
	}
	.videodis_mv p{
	  color: #6D0C0E;
	  text-align: left;
	  font-size: 25px;
	}
	
	.redTea{
		display: none;
	}

}