/* grid */

#container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 0 auto;
	background-color:#EDE5BB;
}


body{
    margin: 0;
	background-color:#EDE5BB;
	font-family: Caveat, 'Circular Std-Bold', 'Circular Std Medium', 'Circular Std Book';
}

/* nav */

header{
	background-color:#00657C;
	display: grid;
    grid-column: 1/9;
    position: absolute;
    grid-template-columns: subgrid;
    grid-template-columns: repeat(8, 1fr);
}

header > ul{
    grid-column: 5/8;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding-right: 40px;
}

.nav ul{
	font-family:"CircularStdMedium";
    src: url(fonts/circularstd.TTF);
	font-size:20px;
}

.nav li{
	display:inline-block;
	text-align: center;
	color: #EDE5BB;
	margin: 5px 0px 5px 0px;
	font-family:"CircularStdMedium";
    src: url(fonts/circularstd.TTF);
	font-size:20px;
}

a {
  color:  #EDE5BB;
}

/* body */

.Welcome{
	display:flex;
	flex-direction: column;
	padding-right: 600px;
	padding-left: 50px;
	font-size: 1.43em;
	font-family:"Caveat";
    src: url(../caveat.regular.ttf);
}

.Backsplash img{
	display: flex;
	width: 100%;
	height: auto;
}
	  
.Eiffel{
    position: absolute;
    top: 400px;
    left: 980px;
}

.Hello{
    position: absolute;
    top: 450px;
    left: 930px;
}

.LB{
	position: absolute;
	top: 890px;
	left: 870px;
	padding-right: 50px;
}

.RB{
	position: absolute;
	top: 890px;
	left: 1050px;
	padding-right: 50px;
}

.LT{
	position: absolute;
	top: 710px;
	left: 870px;
	padding-right: 50px;
}

.RT{
	position: absolute;
	top: 710px;
	left:1050px;
	padding-right: 50px;
}


#buttons{
	display: flex;
    grid-column: 3/10;
    flex-wrap: wrap;
	align-items: flex-end;
	position: absolute;
	padding-right: 50px;
	padding-left: 600px;
}
	
#buttons img{
    height: auto;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.video{
	position: absolute;
	top: 1150px;
	padding-right: 50px;
	padding-left: 50px;
}

/* footer */
.footer{
	background-color:#00657C;
	display: grid;
    grid-column: 5/9;
    position: absolute;
	top: 1550px;
    grid-template-columns: subgrid;
    grid-template-columns: repeat(8, 1fr);
	color: #EDE5BB;
}


.foot{
	list-style:none;
	grid-column: 5/8;
    display: flex;
	padding-right: 5px;
	justify-content: space-between;
	margin-left: 1000px;
}

.adress{
	margin-left: 50px;
}
